/* Delecte the automatically created PL device tree entries */
/delete-node/ &amba_pl;

/ {
	aliases {
		serial0 = "/axi/serial@ff000000";
		serial1 = "/axi/serial@ff010000";
	};
	
	chosen {
		/* Bootargs for SD boot. The bootargs for PXE boot are fetched from the PXE config file on the TFTP server. */
		bootargs = " earlycon clk_ignore_unused root=/dev/mmcblk1p2 rw rootwait uio_pdrv_genirq.of_id=generic-uio";
		xlnx,eeprom = &eeprom;
	};

	/* Create empty amba_pl node */
	amba_pl: amba_pl@0 {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges ;
	};
};

&gem3 { /* required by spec */
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	/*local-mac-address = [00 0A 35 0D 63 69];*/

	mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		phy0: ethernet-phy@0 {
			compatible = "marvell,88e1510";
			device_type = "ethernet-phy";
			reg = <0x0>;
		};

	};
};

&i2c1 {
	eeprom: eeprom@50 {
		compatible = "st,24c64\0atmel,24c64";
		reg = <0x50>;
	};
};

&uart1 {
	status = "okay";
};

&sdhci1 {
	no-1-8-v;
	disable-wp;
	status = "okay";
};

&sata {
	#stream-id-cells = <0x04>;
	ceva,p0-burst-params = /bits/ 8 <0x13 0x08 0x4A 0x06>;
	ceva,p0-cominit-params = /bits/ 8 <0x18 0x40 0x18 0x28>;
	ceva,p0-comwake-params = /bits/ 8 <0x06 0x14 0x08 0x0E>;
	ceva,p0-retry-params = /bits/ 16 <0x96A4 0x3FFC>;
	ceva,p1-burst-params = /bits/ 8 <0x13 0x08 0x4A 0x06>;
	ceva,p1-cominit-params = /bits/ 8 <0x1B 0x4D 0x18 0x28>;
	ceva,p1-comwake-params = /bits/ 8 <0x06 0x19 0x08 0x0E>;
	ceva,p1-retry-params = /bits/ 16 <0x96A4 0x3FFC>;
	status = "okay";
};
