[Unit]
Description=Network Initialization
After=multi-user.target systemd-logind.service

[Service]
# Clean old connection config files. A temporary profile is always used anyway, because we mount the rootfs via nfs
ExecStart=/usr/bin/sh -c '/usr/bin/rm -f /etc/sysconfig/network-scripts/*'
ExecStart=/usr/bin/sh -c '/usr/bin/nmcli connection reload'
# Adapt the temporary connection profile to suite our needs
ExecStart=/usr/bin/sh -c '/usr/bin/nmcli con mod eth0 ipv4.method "auto"'
ExecStart=/usr/bin/sh -c '/usr/bin/nmcli con mod eth0 connection.autoconnect "yes"'
ExecStart=/usr/bin/sh -c '/usr/bin/nmcli con mod eth0 connection.autoconnect-priority "-999"'
# Log messages in case of success and failure
ExecStopPost=/usr/bin/sh -c 'if [ "$$SERVICE_RESULT" = "success" ]; then /usr/bin/echo "Network initialization done. This is a temporary solution and should be resolved in a different way!" > /dev/kmsg; fi'
ExecStopPost=/usr/bin/sh -c 'if [ "$$SERVICE_RESULT" != "success" ]; then /usr/bin/echo "Network initialization failed! (Run \'systemctl status network_init\' for details)" > /dev/kmsg; fi'
Type=oneshot

[Install]
WantedBy=multi-user.target

